<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\humay\OneDrive\Documents\NetBeansProjects\PlayerManagement\target\PlayerManagement-1.0-jar-with-dependencies.jar</jar>
  <outfile>C:\Users\humay\OneDrive\Desktop\Player Management\Player Management.exe</outfile>
  <errTitle>Install Java to run this program</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\humay\OneDrive\Desktop\Player Management\OQVFOY0.ico</icon>
  <singleInstance>
    <mutexName>PlayerManagement</mutexName>
    <windowTitle>Player Management</windowTitle>
  </singleInstance>
  <jre>
    <path>jre</path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>jdkOnly</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Managing player information</fileDescription>
    <copyright>HK</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>PlayerManagement</productName>
    <companyName>HK</companyName>
    <internalName>PlayerManagement</internalName>
    <originalFilename>Player Management.exe</originalFilename>
    <trademarks>HK</trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>